body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #fffaf7;
  line-height: 1.3;
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}
header {
  margin-bottom: 1.5rem;
}
h1 {
  margin-bottom: .5rem;
}
time {
  color: #888;
}
hr {
  border: 2px solid #ddd;
  margin: 2rem auto;
}
#fn {
  font-size: 85%;
}
footer {
  margin-top: 2rem;
  text-align: center;
}
a {
  color: #ff3c3c;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
::selection {
  background-color: #fff888;
}